#video {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
  }

  @media only screen and (min-aspect-ratio: 1/1) {
    #video {
      object-fit: cover;
    }
  }